<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>детально о книге</title>
</head>
<body>
    <h1>{{book_id.title}}</h1>
    <img src="{{book_id.image.url}}" alt="" width="200" height="200">
    <p>{{book_id.description}}</p>
    <p>{{book_id.book_genre}}</p>
    <p>{{book_id.created_ad}}</p>
    <hr> 
    
    
    <hr>
    <ol>
     {% for i in book_id.book.all    %}
<li>
  <p>{{i.text}}</p>
  <p>{{i.created_ad}}</p>
  <p>{{i.author.username}}</p>
  <p>{{i.mark}}</p>

</li>

     {% endfor      %}
    </ol>
</body>
</html>